//.card-menu {
//   padding-bottom: 94px;
//}
//.card-set {
//   display: flex;
//   flex-wrap: wrap;

//   margin-left: calc(-1 * var(--card-set-gap));
//   margin-top: calc(-1 * var(--card-set-gap));
//   &__item {
//      flex-basis: calc(100% / 3 - var(--card-set-gap));

//      margin-left: var(--card-set-gap);
//      margin-top: var(--card-set-gap);
//   }

.card-set__link {
   display: block;

   box-shadow: none;
   transition: box-shadow var(--fc-active);

   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }

   &:hover .card-set__thumb-text {
      transform: translateY(0);
      opacity: 1;
   }
   &:focus .card-set__thumb-text {
      transform: translateY(0);
      opacity: 1;
   }
}

.card-set__thumb {
   position: relative;
   overflow: hidden;
}
.card-set__thumb-text {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transform: translateY(100%);

   width: 100%;
   height: 100%;

   padding: 77px 24px;

   font-weight: 400;
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.03em;

   background-color: var(--card-set-box-transparent);
   color: #ffffff;

   transition: transform var(--fc-active);
}

.card-set__content {
   padding: 20px 24px;
   border-width: 0 1px 1px;
   border-style: solid;
   border-color: var(--border-card-set-color);
}

.card-set__content-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;

   color: var(--primary-color);
}

.card-set__content-text {
   font-weight: normal;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;

   color: var(--secondary-color-gray);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .card-set {
      display: flex;
      flex-direction: column;

      margin-top: calc(-1 * var(--card-set-gap));
      &__item {
         margin-top: var(--card-set-gap);
      }
   }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
   .card-set {
      display: flex;
      flex-wrap: wrap;

      margin-left: calc(-1 * var(--card-set-gap));
      margin-top: calc(-1 * var(--card-set-gap));
      &__item {
         flex-basis: calc(100% / 2 - var(--card-set-gap));

         margin-left: var(--card-set-gap);
         margin-top: var(--card-set-gap);
      }
   }
   .card-set__thumb-text {
      padding: 49px 24px;
   }
   .card-menu {
      padding-bottom: 60px;
   }
}

@media screen and (min-width: 1200px) {
   .card-set {
      display: flex;
      flex-wrap: wrap;

      margin-left: calc(-1 * var(--card-set-gap));
      margin-top: calc(-1 * var(--card-set-gap));
      &__item {
         flex-basis: calc(100% / 3 - var(--card-set-gap));

         margin-left: var(--card-set-gap);
         margin-top: var(--card-set-gap);
      }
   }
   .card-set__thumb-text {
      padding: 63px 24px;
   }
   .card-menu {
      padding-bottom: 94px;
   }
}
