.footer {
   padding: 60px 0;
   background: var(--secondary-bc-black);
}

.footer__inner {
   display: flex;
}

.footer__logo {
   margin-bottom: 20px;
}

.footer__logo--white {
   color: var(--secondary-color-white);
}

.footer-contact {
   display: flex;
   flex-direction: column;

   :first-child {
      color: var(--secondary-color-white);
   }
   :not(:last-child) {
      margin-bottom: 8px;
   }
   &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;

      color: var(--color-white-transparent);
   }
}

.footer__social-title {
   display: inline-block;

   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   color: var(--secondary-color-white);
}

.footer__social-list {
   display: flex;

   :not(:last-child) {
      margin-right: 10px;
   }
}

.footer__social-link {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 44px;
   height: 44px;

   background-color: var(--background-transparent);
   transition: background-color var(--fc-active);

   border-radius: 50%;
   &:hover,
   &:focus {
      background-color: var(--link-active-color);
   }
}

.footer__social-icon {
   fill: var(--secondary-color-white);
}

.footer__form-title {
   display: inline-block;

   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   color: var(--secondary-color-white);
}

.footer__form {
   display: flex;
   flex-direction: column;
}

.footer__form-input {
   padding-left: 16px;
   min-width: 450px;
   min-height: 50px;

   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;

   color: rgba(255, 255, 255, 0.6);
   background: #2f303a;
   transition: border var(--fc-active);

   &:hover,
   &:focus {
      outline: none;
      border: 1px solid var(--link-active-color);
      filter: none;
   }
   &::placeholder {
      color: inherit;
   }
}

.footer__form-btn {
   max-width: 200px;
   display: flex;
   align-items: center;
}
.footer__form-btn--icon {
   margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
   .footer__logo {
      font-size: 24px;
   }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
   .footer__form-input {
      padding-left: 16px;
      min-width: 300px;
      min-height: 50px;
   }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .footer__inner {
      flex-direction: column;
   }
   .footer__inner-flex {
      margin-bottom: 60px;

      display: flex;
      align-items: center;
      flex-direction: column;
   }

   .footer-contact {
      align-items: center;
   }

   .footer__form {
      align-items: center;
   }

   .footer__form-input {
      margin-bottom: 20px;
   }
}
