.intro__title {
   margin-bottom: 30px;

   font-weight: 900;
   font-size: 26px;
   line-height: 1.6;

   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: var(--secondary-color-white);
}

.intro__inner {
   display: flex;
   align-items: center;
   flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .intro {
      padding: 118px 0;

      background-image: var(--fc-gradient-bg), url("../images/intro-bg.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 480px 400px;
   }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
   screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
   screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
   .intro {
      background-image: var(--fc-gradient-bg), url("../images/intro-bg@2x.jpg");
   }
}
