.team {
   padding: 60px 0;
   background: var(--secondary-bc-gray);
}

.team__title {
   margin-bottom: 30px;

   font-weight: 700;
   font-size: 28px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
}

.team__list-item {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   background-color: var(--primary-bc);
}

.team__list-thumb-top {
   margin-bottom: 30px;
}

.team__list-thumb-bottom {
   text-align: center;

   margin-bottom: 16px;
}

.team__list-title {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.team__list-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--secondary-color-gray);
}

.social-list {
   padding: 0 32px 30px;

   display: flex;
   justify-content: center;

   :not(:last-child) {
      margin-right: 10px;
   }
}

.social-list__link {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 44px;
   height: 44px;

   border-radius: 50%;

   background-color: transparent;
   color: var(--link-no-active-color);

   transition: background-color var(--fc-active), color var(--fc-active);
   &:hover,
   &:focus {
      background-color: var(--link-active-color);
      color: var(--secondary-color-white);
   }
}

.social-list__icon {
   fill: currentColor;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .team__list {
      :last-child {
         margin-bottom: 0;
      }
   }

   .team__list-item {
      margin-bottom: 30px;
   }
}

@media screen and (min-width: 480px) {
   .team__list-thumb-top {
      max-width: 450px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
   .team__list {
      display: flex;
      flex-wrap: wrap;

      margin-left: calc(-1 * var(--team-item-gap));
      margin-top: calc(-1 * var(--team-item-gap));
   }

   .team__list-item {
      flex-basis: calc(100% / 2 - var(--team-item-gap));

      margin-left: var(--team-item-gap);
      margin-top: var(--team-item-gap);
   }

   .team__list-thumb-top {
      max-width: 354px;
   }
}

@media screen and (min-width: 1200px) {
   .team {
      padding: 94px 0;
   }

   .team__title {
      font-size: 36px;
   }

   .team__list {
      display: flex;

      margin-left: calc(-1 * var(--team-item-gap));
   }

   .team__list-item {
      flex-basis: calc(100% / 4 - var(--team-item-gap));

      margin-left: var(--team-item-gap);
   }

   .team__list-thumb-top {
      max-width: 354px;
   }
}
