@media screen and (min-width: 320px) and (max-width: 1199px) {
   .tech-skill {
      display: none;
   }
}

.tech-skill {
   padding-bottom: 94px;
}

.tech-skill__title {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
}

.tech-skill__list {
   display: flex;
   justify-content: space-between;
}

.tech-skill__list-thumb {
   position: relative;
}

.tech-skill__box-title {
   position: absolute;
   bottom: 0;

   width: 100%;
   padding: 27px 0;

   background-color: var(--box-transparent);
}

.tech-skill__list-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;

   text-align: center;
   text-transform: uppercase;

   color: var(--secondary-color-white);
}
